# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
build/
dist/
*.egg-info/

# Virtual Environments
.venv/
venv/
ENV/
env/

# Environment Variables & Secrets
.env

# Local Cache / Data
data/restaurants.parquet
data/restaurants.csv
data/*.parquet
data/*.csv

# IDE / Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
